{% extends "account/base.html"%}
{% load crispy_forms_tags %}

{% block title%} Sign Up {% endblock %}

{% block content%}
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <small>
      <p style="display: inline-block;">Have an account?</p>
      <a href="/login/" style="display: inline-block; margin-left: 10px;">Log in</a>
    </small>
    <button type="submit" value ="signup" class="btn btn-primary btn-block mt-4">Signup</button>
  </form>
{% endblock %}